// Colors

$limegreen:#7CEA9C;
$darkgreen:rgb(26, 104, 91);
$purpleblue:#2D3047;
$mustbeblack:#071013;
$gray:#707475;
$lightgray: rgb(207, 207, 207);
$white:#FFFFFF;


// Fonts

$lato:'Lato', sans-serif;

$black:900;
$bold:700;
$regular:400;
$light:300;

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;