/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
	 Changed from CSS to SASS
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6, p, span, button, form, input, a {
  font-family: "Lato", sans-serif;
  color: #071013;
}

h1 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
h2 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: #707475;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  color: #707475;
  text-transform: uppercase;
  line-height: 1.3rem;
}

span {
  text-transform: initial;
  color: #071013;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #707475;
  font-weight: 400;
  line-height: 1.5rem;
}

.navigation {
  position: fixed;
  width: 100%;
  background-color: #7CEA9C;
}
.navigation__link {
  padding: 1em 1em;
  text-transform: uppercase;
  color: #071013;
  font-weight: 700;
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}
.navigation__link:hover {
  color: #1a685b;
}
.navigation__logo {
  position: absolute;
  padding: 0.45em 0.8em;
}
.navigation__container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}
.navigation__list {
  list-style-type: none;
}
.navigation__img {
  width: 3em;
  border-radius: 6em;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-right: 1.3em;
  font-size: 1.4rem;
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

@media only screen and (min-width: 768px) {
  .navigation {
    height: 100%;
    position: sticky;
  }
  .navigation__background {
    position: fixed;
    background-color: #7CEA9C;
    height: 100vh;
    width: 25%;
  }
  .navigation__logo {
    position: fixed;
    top: 20vh;
    left: 1em;
  }
  .navigation__img {
    width: 8em;
  }
  .navigation__container {
    max-height: 100%;
    overflow: visible;
  }
  .navigation__list {
    display: initial;
    margin: inherit;
    padding: inherit;
  }
  .navigation__link {
    padding: 0.5em 1em;
  }

  .collapsible {
    position: fixed;
    top: 40vh;
    left: 1.4em;
  }
  .collapsible label {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navigation__background {
    width: 16.6%;
  }
  .navigation__logo {
    position: fixed;
    top: 20vh;
    left: 2em;
  }

  .collapsible {
    position: fixed;
    top: 40vh;
    left: 2.4em;
  }
}
.content {
  padding: 0 4em;
  display: grid;
  grid-template-columns: repeat 12, 1fr;
}

@media (min-width: 768px) {
  .content {
    padding: 0 5em;
  }
}
.container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 5em;
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
.header {
  margin-top: 7em;
}
.header__title {
  margin-bottom: 1vh;
}
.header__text {
  margin-top: 4em;
  text-align: justify;
  margin-bottom: 3em;
}
.header__list {
  width: 100%;
}
.header__icon {
  display: inline;
  font-size: 50px;
  padding-right: 0.5em;
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: 45vh;
  }

  br {
    display: none;
  }
}
.contact__title {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.contact__text {
  margin-bottom: 2.5em;
}
.contact__form {
  font-family: "Lato", sans-serif;
}
.contact label {
  width: 100%;
  float: left;
  margin-top: 3em;
}
.contact label:first-child {
  margin-top: 4em;
}
.contact__form input {
  float: left;
  width: 100%;
  margin-top: 2em;
  padding: 0.5em 0.5em;
  border: solid 0.2px #cfcfcf;
}
.contact__form input::placeholder {
  color: #cfcfcf;
}
.contact__form textarea {
  width: 100%;
  margin-top: 2em;
  padding: 0.5em 0.5em;
  border: solid 0.2px #cfcfcf;
  color: #cfcfcf;
  font-family: "Lato", sans-serif;
}

@media only screen and (min-width: 768px) {
  .contact__subtitle {
    float: left;
    width: 80%;
  }
}
.experience__title {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.experience__subtitle {
  margin-bottom: 0.6em;
}
.experience__date {
  margin-bottom: 0.3em;
}
.experience__role {
  margin-bottom: 1em;
}
.experience__text {
  text-align: justify;
  margin-bottom: 5em;
}
.experience__text:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .experience__subtitle {
    float: left;
    width: 80%;
  }

  .experience__date {
    float: right;
    text-align: right;
    width: 20%;
  }

  .experience__role {
    float: left;
    width: 100%;
  }
}
.education__title {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.education__subtitle {
  margin-bottom: 0.6em;
}
.education__date {
  margin-bottom: 0.3em;
}
.education__role {
  margin-bottom: 4em;
}
.education__role:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .education__subtitle {
    float: left;
    width: 80%;
  }

  .education__date {
    float: right;
    text-align: right;
    width: 20%;
  }

  .education__role {
    float: left;
    width: 100%;
  }
}
.skills__title {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.skills__subtitle {
  margin-bottom: 0.6em;
}
.skills__text {
  float: left;
  width: 100%;
  margin-bottom: 2.5em;
}

@media only screen and (min-width: 768px) {
  .skills__subtitle {
    float: left;
    width: 80%;
  }
}

/*# sourceMappingURL=main.css.map */
