.education {

    &__title {
        margin-top:3em;
        margin-bottom:1.5em;
    }

    &__subtitle {
        margin-bottom:.6em;
    }

    &__date {
        margin-bottom:.3em;
    }

    &__role {
        margin-bottom:4em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width:768px) {
    .education__subtitle {
        float:left;
        width:80%;
    }

    .education__date {
        float:right;
        text-align:right;
        width:20%
    }

    .education__role {
        float:left;
        width:100%
    }

}